:not(:defined) {
    visibility: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.inspector-field {
    display: flex;
    align-items: center;
    /* spacing between fields */
}

.shortcut {
    display: inline-block;
    width: 50px;
    text-align: left;
    opacity: 0.6;
}

#create-object-button::part(base),
#add-component-button::part(base) {
    padding: 0;
}

sl-tree-item.no-caret::part(expand-button) {
    display: none;
}

.inspector-label {
    flex: 0 0 auto;
    /* fixed width for all labels */
    text-align: left;
    left: 0;
    margin-right: var(--sl-spacing-x-small);
    margin-left: var(--sl-spacing-small);
    /* space between label and input */
    font-weight: 500;
    cursor: pointer;
}

sl-color-picker::part(trigger) {
    margin-top: 4px;
}

.inspector-field sl-input,
.inspector-field sl-checkbox {
    flex: 1;
    /* inputs take remaining space */
}

sl-details::part(content) {
    padding-top: var(--sl-spacing-2x-small);

}

sl-details::part(header) {
    padding-bottom: var(--sl-spacing-x-small);
    padding-top: var(--sl-spacing-x-small);


}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: var(--sl-color-neutral-0);
    font-family: var(--sl-font-sans);
    display: flex;
    flex-direction: column;
}

canvas {
    position: absolute;
}

#run-button::part(base) {
    filter: brightness(1.75);
}

#loading-dialog::part(close-button__base) {
    display: none;
}

sl-split-panel {
    --min: 200px;
    --max: calc(100% - 200px);
    background-color: var(--sl-color-neutral-200);
    overflow: hidden;
}

sl-icon, sl-icon-button {
    font-size: var(--sl-font-size-large);
}

sl-menu-label::part(base) {
    font-size: var(--sl-font-size-medium);
}

/* assets */
.asset-card {
    aspect-ratio: 1;
}

:root {
    --asset-max-width: 120px;
}

/* constrain asset cards so they never grow past the max width but can shrink to min-width */
#assets-grid .asset-card {
    flex: 0 1 var(--asset-max-width);
    max-width: var(--asset-max-width);
    min-width: 120px;
    /* keep existing minimum */
}

#assets-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--sl-spacing-medium);
}

.asset-card {
    flex: 1;
    min-width: 120px;
    height: 120px;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
}

.asset-card-inner {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;

}

.asset-card-inner::part(body) {
    aspect-ratio: 1;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* контент по центру */
    padding: 12px;
    background: #1a1a1e;
    border: 1px solid #2d3440;

    box-sizing: border-box;
    transition: 0.15s;
}

.asset-card-inner::part(body):hover {
    background: #242830;
    border-color: #3b4554;
}

.asset-icon {
    font-size: 58px;
    color: #8da0bd;
    margin-bottom: 8px;
}

.asset-name {
    font-size: 14px;
    color: #e2e5ec;
    text-align: center;
    word-break: break-word;
    user-select: none;
}

/* assets */


.editor-window {
    width: 100%;
    height: 100%;
    border: 1px solid #2e3235;
    /*#283748*/
    border-radius: var(--sl-border-radius-medium);
    display: flex;
    flex-direction: column;
    color: #fafaff;
    overflow: hidden;
    font-family: sans-serif;
    background-color: var(--sl-color-neutral-0);
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sl-spacing-2x-small) var(--sl-spacing-x-small);
    background: #383c3f;
    /*#24303f*/
}

.window-title {
    font-size: var(--sl-font-size-large);
}

.window-body {
    flex: 1;
    padding: var(--sl-spacing-x-small);
    overflow: auto;
}

.app-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* ensures center block is in middle */
    position: relative;

    padding: var(--sl-spacing-2x-small);
    background: var(--sl-color-background-secondary);
    color: var(--sl-color-text);
    border-bottom: 1px solid var(--sl-color-border);
    font-family: var(--sl-font-sans);
    user-select: none;
}

.toolbar-left,
.toolbar-right {
    display: flex;
    align-items: center;

    gap: var(--sl-spacing-large);

    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
}

.toolbar-left {
    left: var(--sl-spacing-x-small);
}

.toolbar-right {
    right: var(--sl-spacing-x-small);
}

.toolbar-center {
    display: flex;
    align-items: center;
}

.app-title {
    font-weight: var(--sl-font-weight-semibold);
    color: var(--sl-color-text);
    opacity: 0.85;
    font-size: var(--sl-font-size-large);
}

#root {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: var(--sl-border-radius-medium);
}